* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-line {
    width: 100%;
    height: 50px;
    background-color: #ff9a4b;
}

.main {
    width: 960px;
    margin: 50px auto;
    display: flex;

}

.box { 
    width: 300px;
    margin-right: 30px;
    padding: 10px;
    background-color: #eeeeee;
    position: relative;
}

.box:last-child{
    margin-right: 0;
}
.picture1 {
    background-image: url(img/flow01.png);
    height: 150px;
    background-size: cover;
    background-position: bottom;
}

.picture2 {
    background-image: url(img/flow02.png);
    height: 150px;
    background-size: cover;
    background-position: bottom;
}

.picture3 {
    background-image: url(img/flow03.png);
    height: 150px;
    background-size: cover;
    background-position: bottom;
}

.categories {
    background-color: #ff9a4b;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    margin: 15px 0 5px;
}

.footer-line {
    width: 100%;
    height: 50px;
    background-color: #aaaaaa;
}

.text {
    text-align: left;  
}

@media screen and (max-width:425px) {
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    .box:nth-child(1),
    .box:nth-child(2) {
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
    }

    .box:nth-child(3){
        width: 90%;
        margin: 0;
    }
}